:root {
    --WhiteAgg: #FAF3DD;
    --primaryColor: #68B0AB;
    --secondaryColor2: #C8D5B9;
    --secondaryColor: #8FC0A9;
}

.nav {
    padding: .7em;
    display: flex;
    align-items: center;
    background-color: var(--primaryColor);
    margin-bottom: 1.5em;
}
